obj
bin
artifacts/
results/
logs/
packages
Gemfile.lock
CommonAssemblyInfo.cs
*.csproj.user
_ReSharper.*
*.[Rr]e[Ss]harper.user
*.DotSettings*
*.suo
*.cache
~$*
*.stresult
*.userprefs
*.pidb
*.DS_Store
*.swp
*.dotCover
*ncrunch*
*.o
