obj
bin
.idea/
.vs/
artifacts/
results/
logs/
testrun/
buildlog
packages
Gemfile.lock
CommonAssemblyInfo.cs
*.*proj.user
_ReSharper.*
*.[Rr]e[Ss]harper.user
*.DotSettings*
*.suo
*.cache
~$*
*.stresult
*.userprefs
*.pidb
*.DS_Store
*.swp
*.dotCover
*ncrunch*
*.o
*.sln.iml
.idea*
